body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
.Container{
    padding: 100px;

}
.welcome_text{

    font-size: 3em;
    color: rgb(255, 255, 255);
    
}
.logo{
    background-color: black;
    height: 150px;
}
